@model FastFood.MVC.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int itemCount = 0;
}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int c = 0; c < Model.Carousels.Count; c++)
            {
                <div class="carousel-item @(c == 0 ? "active" : "")">
                    <img class="w-100" src="@Model.Carousels[c].ImageUrl" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown">@Model.Carousels[c].Name</h1>
                                    <p class="fs-5 text-white mb-4 animated slideInDown">
                                        @Model.Carousels[c].Description
                                    </p>
                                    <a asp-controller="Order" asp-action="Index" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Đặt hàng ngay</a>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Carousels[c].ProductID" 
                                        class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">
                                        Xem chi tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="/img/about_us.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Best Fast Food Burgers, Fried Chicken, and Fries</h1>
                    <p class="mb-4">Khám phá những món ăn nhanh tuyệt vời tại cửa hàng của chúng tôi! Chúng tôi phục vụ burger tươi ngon với phô mai tan chảy, gà rán giòn rụm và khoai tây chiên thơm phức. Mỗi món ăn đều được chế biến từ nguyên liệu tươi ngon, mang đến hương vị tuyệt hảo trong từng miếng ăn. Hãy đến và trải nghiệm sự kết hợp hoàn hảo giữa burger, sandwich, gà rán và khoai tây chiên!</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Burger hảo hạng, sandwich thơm lừng, gà rán giòn ngon</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Khoai tây chiên giòn rụm</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Dịch vụ nhanh chóng và tiện lợi</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" asp-controller="Product" asp-action="Index">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon my-5 py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Vì sao bạn nên chọn Burgz ?</h1>
                <p>Đến với cửa hàng đồ ăn nhanh, bạn có thể yên tâm bởi:</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="~/img/ingredient.png" alt="">
                        <h4 class="mb-3">Nguyên Liệu Tươi Ngon</h4>
                        <p class="mb-4">Chúng tôi sử dụng nguyên liệu tươi ngon mỗi ngày để chế biến những món ăn nhanh đậm đà hương vị, đảm bảo sự tươi mới trong từng miếng ăn.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="~/img/serving-dish.png" alt="">
                        <h4 class="mb-3">Dịch Vụ Nhanh Chóng</h4>
                        <p class="mb-4">Chúng tôi cam kết mang đến cho bạn những bữa ăn ngon miệng với dịch vụ nhanh chóng, để bạn có thể thưởng thức món ăn yêu thích ngay lập tức mà không phải chờ đợi lâu.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="~/img/quality.png" alt="">
                        <h4 class="mb-3">Chất Lượng & Hương Vị</h4>
                        <p class="mb-4">Mỗi món ăn của chúng tôi đều được chế biến với chất lượng cao nhất, mang lại hương vị đậm đà, chắc chắn sẽ khiến bạn hài lòng từ miếng đầu tiên.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Burgz có gì ?</h1>
                        <p>Tại Burgz, chúng tôi mang đến những món ăn nhanh ngon miệng, từ burger hảo hạng, gà rán giòn đến khoai tây chiên vàng rụm, tất cả đều được chế biến từ nguyên liệu tươi ngon và đậm đà hương vị.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        @for (int c = 1; c <= Model.Categories.Count; c++)
                        {
                            <li class="nav-item me-1">
                                <a class="btn btn-outline-primary border-2 @(c == 1 ? "active" : "")" 
                                data-bs-toggle="pill" href="#tab-@c">@Model.Categories[c-1].Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                @for (int c = 1; c <= Model.Categories.Count; c++)
                {
                    itemCount = 0;
                    <div id="tab-@c" class="tab-pane fade show p-0 @(c == 1 ? "active" : "")">
                        <div class="row g-4">
                            @foreach (var product in Model.Products)
                            {
                                if (product.CategoryID == c)
                                {
                                    itemCount++;
                                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.@(2 * itemCount - 1)s">
                                        <div class="product-item">
                                            <div class="position-relative bg-light overflow-hidden">
                                                <img class="img-fluid w-100" src="@product.ImageUrl" alt="">
                                                @if (product.IsNew)
                                                {
                                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                                }
                                                @if (product.IsPopular)
                                                {
                                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Hot</div>
                                                }
                                            </div>
                                            <div class="text-center p-4">
                                                <a class="d-block h5 mb-2" asp-controller="Product" 
                                                    asp-action="Details" asp-route-id="@product.ProductID">@product.Name</a>
                                                <p class="text-body">@product.Description</p>
                                                <span class="text-primary me-1">@product.Price VND</span>
                                            </div>
                                            <div class="d-flex border-top">
                                                <small class="w-50 text-center border-end py-2">
                                                    <a onclick="createOrderNow(@product.ProductID)" class="btn text-body">Đặt ngay</a>
                                                </small>
                                                <small class="w-50 text-center py-2">
                                                    <a onclick="addToCart(@product.ProductID)" class="btn text-body">Thêm vào giỏ</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <a class="btn btn-primary rounded-pill py-3 px-5" asp-controller="Product" 
                                    asp-action="Index" asp-route-activeIndex="@c">Xem thêm sản phẩm</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Product End -->
    <!-- Promotion Start -->
    <div class="container-fluid bg-light py-6 mb-5">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Khuyến Mãi Hấp Dẫn</h1>
                <p class="lead">Đừng bỏ lỡ các chương trình khuyến mãi đặc biệt tại Burgz! Cập nhật ngay các ưu đãi mới nhất và tận hưởng những món ăn yêu thích với mức giá hấp dẫn.</p>
            </div>
            <div class="row">
            @foreach (var promotion in Model.Promotions)
            {
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="promo-item position-relative bg-white p-5 mt-4">
                        <div class="promo-title">
                            <h5 class="mb-3">@promotion.Name</h5>
                            <p class="mb-4">@promotion.Description</p>
                            <a asp-controller="Promotion" asp-action="Details" asp-route-id="@promotion.PromotionID" 
                                class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    <!-- Promotion End -->
    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Tin tức</h1>
                <p>Tận hưởng những khoảnh khắc trọn vẹn cùng Burgz</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid" src="~/img/certificate.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">Burgz trở thành thương hiệu fast food được yêu thích hàng đầu Việt Nam</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>1 June, 2025</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/img/store.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">Burgz tưng bừng khai trương chi nhánh thứ 20</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>15 May, 2025</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="img-fluid" src="~/img/menu.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">Nhiều món ăn mới đã được ra mắt, trải ngiệm ngay!</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>09 June, 2025</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
@section Scripts
{
    @Html.AntiForgeryToken()
    <script>
        function addToCart(productID, quantity = 1) {
            const token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: '/Cart/AddToCart',
                data: {
                    productID: productID,
                    quantity: quantity,
                    __RequestVerificationToken: token
                },
                success: function (response) {
                    if (response.success) {
                        $('#cartCount')
                            .fadeOut(100, function () {
                                $(this).text(response.cartCount).fadeIn(100);
                            });

                        alert(response.message || "Đã thêm vào giỏ hàng!");

                        if (typeof updateCartBadge === "function") {
                            updateCartBadge();
                        }
                    } else {
                        alert(response.message || "Đã xảy ra lỗi.");
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        if (confirm("Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng. Đăng nhập ngay?")) {
                            window.location.href = '/Identity/Account/Login?ReturnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                    } else {
                        alert("Lỗi khi thêm vào giỏ hàng.");
                        console.error("Error details:", error);
                    }
                }
            });
        }

        function createOrderNow(productID)
        {
            const token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax
             ({
                type: 'POST',
                url: '/Cart/CreateCartNow',
                data: {
                    productID: productID,
                    __RequestVerificationToken: token,
                },
                success: function(response) {
                    if (response.success) {
                        alert(response.message || 'Đã thêm vào giỏ hàng và đi đến giỏ hàng!');
                       window.location.href = 'Cart/Index';

                        if (typeof updateCartBadge === "function") {
                            updateCartBadge();
                        }
                    }
                    else {
                        alert(response.message || 'Lỗi khi nhấn "Đặt ngay"');
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        if (confirm("Bạn cần đăng nhập để thêm sản phẩm vào giỏ hàng. Đăng nhập ngay?")) {
                            window.location.href = '/Identity/Account/Login?ReturnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                    } else {
                        alert("Lỗi khi thêm vào giỏ hàng.");
                        console.error("Error details:", error);
                    }
                }
            });
        }

        function updateCartBadge() {
            fetch('/Cart/GetCartCount')
                .then(res => res.json())
                .then(data => {
                    $('#cartCount').fadeOut(100, function () {
                        $(this).text(data.count).fadeIn(100);
                    });
                });
        }
    </script>
}
