@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model FastFood.MVC.Models.Promotion

@{
    if ((await AuthorizationService.AuthorizeAsync(User, "AdminAccess")).Succeeded)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
}

<div>
    <h4>Chi tiết khuyến mãi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.ProductID != null)
        {
            <dt class="col-sm-2">
                Sản phẩm được áp dụng
            </dt>
            <dd class="col-sm-10">
                @Model.Product?.Name
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Danh mục được áp dụng
            </dt>
            <dd class="col-sm-10">
                @Model.Category?.Name
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
    </dl>
</div>
<br />
<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminAccess")).Succeeded)
    {
        <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "Promotion", new { id = Model.PromotionID })'">Sửa</button>
    }

    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Promotion")'">Quay lại</button>
</div>
