@model FastFood.MVC.Models.Product

@{
    Layout = "~/View/Shared/_AdminLayout.cshtml";
}


<div>
    <h4>Bạn có chắc xóa sản phẩm này không</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name) danh mục
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name) sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img class="w-25" src="@Model.ImageUrl" alt="" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <a asp-action="Index" class="btn btn-outline-secondary">Quay lại</a>
        <button type="submit" class="btn btn-danger">Xóa</button>
    </form>
</div>
